body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* White background */
}

.jsonrenderer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #343a40; /* Dark background for header */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

#controls {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ced4da; /* Lighter border */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 300px;
}

.overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 240, 0.9); /* Very light gray background for overlay */
    z-index: 999;
}

.overlay-box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ced4da; /* Lighter border */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 60%;
}

button {
    background-color: #000000; /* Black button background */
    color: #fff; /* White font color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#image-container {
    margin-top: 20px;
}

#image-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

h2 {
    margin-top: 20px;
}

select,
input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ced4da; /* Lighter border */
}

select {
    width: 20%;
}

.button-row {
    display: flex;
    justify-content: space-around; /* Adjust the spacing between buttons */
    margin-top: 20px; /* Adjust margin-top as needed */
}

.button-row button {
    background-color: #000000; /* Black button background */
    color: #fff; /* White font color */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}